#background
{
	   background-image: url("./background2.jpg");
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	    background-size: cover;
	           position: fixed;
	                top:0;
	             bottom: 0;
	               left: 0;
	              right: 0;
		      opacity: 0.7;
}

.framed-logo
{
	visibility: visible;
	background: rgba(240, 231, 210, 0.7);
	margin-top: -40px;
}

.carousel-inner .item
{
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	    background-size: cover;
	           position: fixed;
	                top:0;
	             bottom: 0;
	               left: 0;
	              right: 0;
}

#myCarousel
{
	           position: fixed;
	                top:0;
	             bottom: 0;
	               left: 0;
	              right: 0;
}

.frame
{
	text-align: center;
	position: fixed;
	position: fixed;
	     top:0;
	  bottom: 0;
	    left: 0;
	   right: 0;
	   visibility: hidden;
}

#logo
{
	visibility: visible;
	max-width: 300px;
	max-height: 20vh;
}

.helper
{
    display: inline-block;
    height: 90%;
    vertical-align: middle;
}

img {
	vertical-align: middle;
	max-width: 560px;
	width: 90%;
	filter: drop-shadow(0px 0px 5px white) ;
}


a
{
	color: white;
	text-decoration: none;
	color: #01AE5A;
	color: white;
	font-size: 20px;

}

#info
{
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	text-align: center;
}

#info > div
{
	text-align: center;
	background-color: #01AE5A;
	display: inline-block;
	padding: 4px;
	border-radius: 4px 4px 0px 0;
}

.prochainement
{
	font-family: "Computer Modern";
	font-size: 22px;
}
