:root {
	--c-yellow: #FDD700;
	--c-green:  #00AD59;
	--c-brown:  #A76700;
	--c-cream:  #E5D6B6;
	--c-cream:  #E8CC8A;
	--c-blue:   #0B3861;

	--c-light-cream:   #F0E7D2;
}

:root {
	--first-background-color: var(--c-cream);
	--footer-color:  var(--c-cream);
	--second-color:  var(--c-cream);

	--main-titles-color: var(--c-brown);
	--second-background-color: var(--c-brown);
	--first-color: var(--c-brown);

	--second-titles-color: var(--c-green);
	--money-color: var(--c-green);
	--second-titles-color: var(--c-green);
	--third-background-color: var(--c-green);

	/* No yellow */
	--footer-background-color: var(--c-blue);
}

:root{
	--first-button-background-color: var(--second-background-color);
	--first-button-color: var(--second-color);

	--second-button-background-color: var(--first-background-color);
	--second-button-color: var(--first-color);

}

body
{
	background: var(--first-background-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'Junction';
    src: url('/dist/fonts/junction-master/junction-regular.eot');
    src: url('/dist/fonts/junction-master/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('/dist/fonts/junction-master/junction-regular.woff') format('woff'),
         url('/dist/fonts/junction-master/junction-regular.ttf') format('truetype'),
         url('/dist/fonts/junction-master/junction-regular.svg#junctionbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sacramento';
    src: url('/dist/fonts/sacramento.regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Computer Modern";
	src: url("./cmunrm.otf");
}

*
{
    font-family: 'Junction';
}

.border-container
{
	height: 100%;
}

:root
{
	--confort-card-width: 200px;
}

.comfort-card
{
	position: relative;
	z-index: 8;
	vertical-align: top;
	text-decoration: none;
}


.comfort-card.framed-box 
{
	text-align: center;
	width: var(--confort-card-width);
/*	height: 400px;*/
	padding: calc( ( var(--inter-frame-width) + var(--frame-width) ) * 3 - 2px );
}

.comfort-card .main-img-container
{
	width: 100%;
	overflow: hidden;
	border-bottom: solid 2px var(--c-brown);
	height: var(--confort-card-width);
}

.comfort-card .img-intermediate-container
{
	width: 100%;
	height: 100%;
}

.comfort-card .main-img-container img
{
	height: 100%;
}

.comfort-card h3
{
	font-family: 'Sacramento';
	color: var(--main-titles-color);
	font-size: 26pt;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 5px;
}

.comfort-card p
{
	margin-top: 2px;
	color: black;
}

.comfort-card .second-corner-half-box
{
	background-color: var(--c-light-cream);
}

.comfort-card:hover
{
	transform: scale(1.1);
	box-shadow: 2px 2px 5px var(--c-brown), -2px 2px 5px var(--c-brown);
	transition: transform 0.5s linear, box-shadow 0.5s linear;
}

.corner-box
{
	width: 2px;
	height: 2px;
	background-color: var(--c-brown);
	position: absolute;
	z-index: 4;
}

.corner-box:nth-of-type(1)
{
	top: 4px;
	left: 4px;
}

.corner-box:nth-of-type(2)
{
	top: 4px;
	right: 4px;
}

.corner-box:nth-of-type(3)
{
	bottom: 4px;
	left: 4px;
}

.corner-box:nth-of-type(4)
{
	bottom: 4px;
	right: 4px;
}

:root
{
	--frame-width: 2px;
	--inter-frame-width: calc( 2 * var(--frame-width) );
}

.framed-box
{
	position: relative;
	background-color: var(--c-light-cream);
	display: inline-block;
	padding: calc( ( var(--inter-frame-width) + var(--frame-width) ) * 3 );
	border: none;
}

.framed-box .fram-helpers-container,
.framed-box .fram-helpers-container > .fram-border
{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

:root
{
	--framed-border-deffinition: solid var(--frame-width) var(--c-brown);
	--framed-border-deffinition-dark: solid var(--frame-width) var(--c-cream);
	--framed-margin: calc( var(--frame-width) + var(--inter-frame-width) );
	--double-framed-margin: calc( 4 * ( var(--frame-width) + var(--inter-frame-width) ) + 4 * var(--framed-margin) );
}

.intermediate-container
{
	position: relative;
	width: 100%;
	height: 100%;
}

.framed-box .fram-helpers-container > .first-border-vertical,
.framed-box.double-framed .fram-helpers-container > .first-border-vertical > .intermediate-container > .second-border-vertical
{
	border-top: var(--framed-border-deffinition);
	border-bottom: var(--framed-border-deffinition);
	height: auto;
	width: auto;
	top: calc( var(--frame-width) + var(--inter-frame-width) );
	bottom: calc( var(--frame-width) + var(--inter-frame-width) );
	left: calc( var(--frame-width) + 2 * var(--inter-frame-width) );
	right: calc( var(--frame-width) + 2 * var(--inter-frame-width) );
}


.framed-box.double-framed.noborder
{
	padding: calc( ( var(--inter-frame-width) + var(--frame-width) ) * 3 - 2px );
}

.framed-box.double-framed.noborder .second-corner-half-box
{
	background-color: var(--c-light-cream);
}

.framed-box.double-framed .fram-helpers-container > .first-border-vertical > .intermediate-container > .second-border-vertical,
.framed-box.double-framed .fram-helpers-container > .first-border-horizontal > .intermediate-container > .second-border-horizontal
{
	position: absolute;
}



.framed-box .fram-helpers-container > .first-border-horizontal,
.framed-box.double-framed .fram-helpers-container > .first-border-horizontal > .intermediate-container > .second-border-horizontal
{
	border-left: var(--framed-border-deffinition);
	border-right: var(--framed-border-deffinition);
	height: auto;
	width: auto;
	left: calc( var(--frame-width) + var(--inter-frame-width) );
	right: calc( var(--frame-width) + var(--inter-frame-width) );
	top: calc( var(--frame-width) + 2 * var(--inter-frame-width) );
	bottom: calc( var(--frame-width) + 2 * var(--inter-frame-width) );
}

.corner-half-box,
.double-framed .second-corner-half-box
{
	position: absolute;
	z-index: 7;
	width: var(--inter-frame-width);
	height: var(--inter-frame-width);
	border: var(--framed-border-deffinition);
}

.corner-half-box:nth-of-type(5),
.double-framed .second-corner-half-box:nth-of-type(9)
{
	top: calc( var(--inter-frame-width) + var(--frame-width) );
	left: calc( var(--inter-frame-width) + var(--frame-width) );
	border-top: none;
	border-left: none;
}

.double-framed .second-corner-half-box:nth-of-type(9)
{
	top: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
	left: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
}

.corner-half-box:nth-of-type(6),
.double-framed .second-corner-half-box:nth-of-type(10)
{
	top: calc( var(--inter-frame-width) + var(--frame-width) );
	right: calc( var(--inter-frame-width) + var(--frame-width) );
	border-top: none;
	border-right: none;
}

.double-framed .second-corner-half-box:nth-of-type(10)
{
	top: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
	right: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
}

.corner-half-box:nth-of-type(7),
.double-framed .second-corner-half-box:nth-of-type(11)
{
	bottom: calc( var(--inter-frame-width) + var(--frame-width) );
	left: calc( var(--inter-frame-width) + var(--frame-width) );
	border-bottom: none;
	border-left: none;
}

.double-framed .second-corner-half-box:nth-of-type(11)
{
	bottom: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
	left: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
}

.corner-half-box:nth-of-type(8),
.double-framed .second-corner-half-box:nth-of-type(12)
{
	bottom: calc( var(--inter-frame-width) + var(--frame-width) );
	right: calc( var(--inter-frame-width) + var(--frame-width) );
	border-bottom: none;
	border-right: none;
}

.double-framed .second-corner-half-box:nth-of-type(12)
{
	bottom: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
	right: calc( ( var(--inter-frame-width) + 2 * var(--frame-width) ) * 2 );
}

.fram-helpers-container > .corner-box
{
	width: var(--frame-width);
	height: var(--frame-width);
	border: none;
	background-color: var(--c-brown);
	left: none;
	right: none;
	top: none;
	bottom: none;
}

.fram-helpers-container .corner-box:nth-of-type(1)
{
	left: var(--framed-margin);
	top: var(--framed-margin);
}

.fram-helpers-container .corner-box:nth-of-type(2)
{
	right: var(--framed-margin);
	top: var(--framed-margin);
}

.fram-helpers-container .corner-box:nth-of-type(3)
{
	left: var(--framed-margin);
	bottom: var(--framed-margin);
}

.fram-helpers-container .corner-box:nth-of-type(4)
{
	right: var(--framed-margin);
	bottom: var(--framed-margin);
}

.framed-box.dark-box .corner-box
{
	background-color: var(--c-cream);
}

.framed-box.dark-box
{
	background-color: var(--c-brown);
	color: var(--c-cream);
}

.framed-box.dark-box .fram-helpers-container > .fram-border,
.framed-box.dark-box .fram-helpers-container > .corner-half-box,
.framed-box.dark-box.double-framed .fram-helpers-container > div .second-corner-half-box
{
	border-color: var(--c-cream);
}

.framed-box.green-box .corner-box
{
	background-color: var(--c-cream);
}

.framed-box.green-box
{
	background-color: var(--c-green);
	color: var(--c-cream);
}

.framed-box.green-box .fram-helpers-container > .fram-border,
.framed-box.green-box .fram-helpers-container > .corner-half-box,
.framed-box.green-box.double-framed .fram-helpers-container > div .second-corner-half-box
{
	border-color: var(--c-cream);
}

.framed-box.double-framed .second-border-vertical
{
}

#card-place
{
	padding-top: 30px;
	text-align: center;
}

#card-place.bottom-cards
{
	margin-top: 50px;
	margin-bottom: 100px;
}

#card-place.bottom-cards > h2
{
	margin-bottom: 50px;
	color: var(--main-titles-color);
	font-family: "Computer Modern";
	font-style: italic;
	font-weight: normal;
	font-size: 32px;
}

#card-place > *:not(:last-of-type)
{
	margin-right: 70px;
}

.framed-box > *:not(.fram-helpers-container)
{
	position: relative;
	z-index: 6;
}

button.framed-box:active
{
	margin-top: 8px;
	margin-left: 8px;
}

header.centered
{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height: 70px;
	z-index: 8;
	text-align: center;
	margin-top: -170px;
}

header.centered .logo-container
{
	width: 170px;
	z-index: 8;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	margin-top: -20px;
	box-shadow: 2px 2px 5px var(--c-brown), -2px 2px 5px var(--c-brown), -2px -2px 5px var(--c-brown);
}

header.centered .logo-container .img-container
{
	height: 100%;
}

header.centered .logo-container img
{
	max-height: 100%;
}

header.centered .logo-container
{
	transform: rotate(0deg);
	transform-orign : 50% 195px;
	-webkit-transform-origin: 50% 195px;
	transition: transform 0.5s linear;
}
header.centered:hover .logo-container
{
	transform: rotate(180deg);
	transition: transform 0.5s linear;
	transform-orign : 50% 195px;
	-webkit-transform-origin: 50% 195px;
}

header.centered .rubriques ul
{
	list-style-type: none;
	padding-left: 0;
	transform: rotate(180deg);
}

header.centered a
{
	text-decoration: none;
	color: var(--c-green);
}

header.centered .rubriques ul a:hover
{
	font-weight: bold;
}

header.left
{
	width: 170px;
	position: fixed;
	top:0;
	left: 40px;
	z-index: 8;
	text-align: center;
}

header.left .img-container,
header.left .section-name,
header.left .rubriques-container
{
	max-width: 100%;
	background: var(--c-cream);
	padding: 6px;
	padding-right: 25px;
	padding-left: 25px;
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	font-family: "Computer Modern";
	box-shadow: 2px 2px 5px var(--c-brown), -2px 2px 5px var(--c-brown);
	position: relative;
	z-index: 11;
}

header.left .rubriques-container ul
{
	list-style-type: none;
	padding-left: 0;
}

header.left .rubriques-container ul li a
{
	text-decoration: none;
	color: var(--c-brown);
}

header.left .rubriques-container ul li a:hover
{
	font-weight: bold;
}

header.left .img-container:hover
{
	background: var(--c-brown);
	transition: background 0.5s linear;
}

header.left .img-container img
{
	max-width: 100%;
}

footer.blue-footer
{
	background: var(--c-blue);
	min-height: calc( 200px - 40px );
	width: calc( 100% - 2 * 40px );
	color: var(--c-cream);
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	position: relative;
}

footer.blue-footer .moto
{
    font-family: 'Sacramento';
    font-size: 20pt;
    margin-bottom: 20px;
}

footer.blue-footer .copyright
{
    font-family: "Computer Modern";
    font-size: 12pt;
}

footer.blue-footer nav
{
	position: absolute;
	right: 40px;
	top: 20px;
}

footer.blue-footer nav ul
{
	list-style-type: none;
	padding-left: 0;
	text-align: right;
	font-family: 'Junction';
	font-size: 20px;
}

footer.blue-footer nav ul li:not(:last-of-type)
{
	margin-bottom: 10px;
}

footer.blue-footer nav ul li a
{
	text-decoration: none;
	color: var(--c-cream);
}


header.left .rubriques-container
{
	margin-top: -160%;
	z-index: 10;
	transition: margin-top 0.5s linear;
}

header.left:hover .rubriques-container
{
	margin-top: 0;
	transition: margin-top 0.5s linear;
}

.scaler
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: var(--c-brown);
	opacity: 0.3;
}

.phonecard-container
{
	position: fixed;
	right: 60px;
	bottom: -120px;
	z-index: 100;
	box-shadow: 2px 2px 5px  black;
}

.phonecard-container:hover
{
	bottom: -70px;
	transform: rotate(-10deg);
	-webkit-transform-origin: bottom left;
	transition: transform 0.5s linear, bottom  0.5s linear;
}

.phonecard a
{
	text-decoration: none;
	font-size: 27px;
	margin: 10px;
	display: block;
	color: var(--c-green);
}

.phonecard a:last-of-type
{
	margin-bottom: 60px;
}

.phonecard a:hover
{
	color: var(--c-blue);
	text-shadow: 1px 1px var(--c-blue);
	transition: color 0.5s linear, text-shadow 0.5s linear;
}

#lang-selector
{
	position: fixed;
	right: 40px;
	top: 0;
	background-color: var(--c-brown);
	z-index: 10;
	padding: 4px;
	box-shadow: 2px 2px 5px  var(--c-brown);
}

#google_translate_element .goog-te-gadget-simple
{
	background: #9F6200;
	border: none;
}

.trapezoid
{
	border-bottom: 5px solid var(--c-green);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0;
	width: 100px;
}

.sub-trapezoid
{
	width: calc( 100px + 25px * 2 );
	height: 4px;
	background: green;
}

.full-image-container
{
	background-size: cover;
	background-position: center;
}

img.right
{
	float: right;
}
